* {
    margin: 0;
    padding: 0;
    font-family: Work Sans, Arial, sans-serif;
}

body {
    display: block;
}

.logodoc {
    display: flex;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ececec;
    z-index: 5;
}

.header-menu a {
    color: grey;
    text-decoration: none;
    justify-content: space-between;
    width: 25%;
    display: inline;
    margin-right: 10px;
}

.active-link {
    color: #5dc6b0;
}

.introduction {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.introduction-logo {
    width: 50px;
    height: 50px;
}

.introduction-title {
    color: #00b39b;
    font-weight: 150;
    text-align: center;
    font-family: Work Sans, Arial, sans-serif;
    font-size: 2.125rem;

}

.introduction-text {
    display: flex;
    justify-content: space-between;

}

p {
    text-align: justify;
    padding: 20px;
    font-size: 20px;
    color: grey;
}

.patient {
    font-weight: 200;
    font-size: 25px;
}

.service-card-title {
    display: block;
    margin: 20px;
    padding: 20px;
    font-weight: 400;
}

.services {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.service-card {
    border-radius: 10px;
    color: white;
    margin: 10px;
    padding: 20px;
    width: 300px;
    flex-direction: column;
    font-weight: 400;
    height: 345px;
    position: relative;
    transition: all .2s ease 0s;
}
.service-card-select,
.service-card-select2{
    width: 100%;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0 2em 0 0;
    -webkit-appearance: none;
    outline: 0;
    text-transform: none;
    text-decoration: underline;
    cursor: pointer;
    color: white;
}
.service-card-select option,
.service-card-select2 option{
    color: black;
}

.service-cardforpatient {

    background-color: #5dc6b0;
}

.service-cardfordoctors {
    background-color: #4293db;
}

.service-cardforclinic {
    background-color: #1b2734;

}

.added {
    margin: 2.5rem auto 3.125rem;
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    position: relative;
    display: flex;

}

.li {
    font-size: 1rem;
    display: inline-block;
    margin-top: 0;
    padding: 5px 0 5px 5px;
    width: auto;

}

/* .a {
    text-decoration: double;
    color: #3d83df;
    outline: 0;
    transition: all .2s ease 0s;
} */

.brandslogos {
    display: flex;
    width: 67%;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brandslogos li {
    font-size: 1rem;
    display: inline-block;
    margin-top: 0;
    padding: 5px 0 5px 5px;
    width: auto;
}

.brandslogos a {
    display: inline-block;
    padding: 5px 0;
}

.brandslogos a svg {
    height: 20px;
    width: auto;
    max-width: 100%;
    padding-left: 10px;
    fill: hsla(0, 0%, 67%, .7);
}

.brandslogos a:hover svg {
    fill: #00b39b;
}

.tuotempo img,
.gipo img,
.jameda img,
.clinicloud img {
    transition: all .2s ease 0s;
    filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
    -webkit-filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
    opacity: .55;
}

.tuotempo img:hover,
.gipo img:hover,
.jameda img:hover,
.clinicloud img:hover {
    filter: none;
}

.global {
    display: flex;
    width: 33%;
    font-size: 1.625em;
    /* margin: 0.25em 0 0.35em; */
    padding-right: 1em;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}

.stats-container {
    background: #e5faf8;
    background-image: linear-gradient(-45deg, rgba(0, 204, 177, .01) 5%, rgba(61, 199, 223, .1));
    padding: 1.875em 0 .625em;
    overflow: hidden;
    margin: 3.125rem auto 5.5rem;
}

.stats_inner {
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
}

.introduction-box {

    position: relative;
    width: 50%;
}

.introduction-box h1 {
    color: rgb(0, 177, 159);
    font-family: 'Charmonman', cursive;
    margin-bottom: 7%;
}

.introduction-box p {
    opacity: 0.4;
}

.introduction-logo1 img {

    width: 75%;
    margin-top: 5%;
    position: absolute;
    right: 50%;
    top: 45%;
}

.stats {
    text-align: center;
    width: 50%;
}

.stats h1 {
    color: rgb(0, 197, 155);
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 100;
}

.stats-box {
    background-color: white;
    border-radius: 7%;
    width: 45%;
    
}

.stats-box-colomn-2 {
    display: flex;
    margin-top: 5%;
}

.stats-box-colomn-1 {
    display: flex;
}

.box-1,
.box-2,
.box-3,
.box-4 {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-1,
.box-3 {
    margin-right: 5%;
}
.box-2,
.box-4 {
    transform: translateY(-20px);
}

.box-1 p {
    margin-right: 17%;
    margin-top: -5%;
    font-size: 12px;
    font-weight: 100;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    letter-spacing: .1;


}

.box-2 p {
    margin-right: 17%;
    margin-top: -5%;
    font-size: 12px;
    font-weight: 100;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    letter-spacing: .1;




}

.box-3 p {
    margin-right: 17%;
    margin-top: -5%;
    font-size: 12px;
    font-weight: 100;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    letter-spacing: .1;

}

.box-4 p {
    margin-right: 17%;
    font-size: 12px;
    font-weight: 100;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    letter-spacing: .1;
}

.offices-description {
    text-align: center;
}

.offices-description h1 {
    color: rgb(0, 197, 155);
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
}

.offices-description p {
    text-align: center;
    color: black;
    opacity: .7;
    font-size: 12;
}

#countries {
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
}
.offices__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 460px;
    margin: 0 auto 4.1875rem;
    font-size: .875em;
    text-align: center;
}
.offices__header h1 {
    font-size: 2.125rem;
    color: #00b39b;
    font-weight: 300;
    letter-spacing: -.3px;
}
.offices__header p {
    margin: 1.6em 0;
    text-align: inherit;
    padding: 0;
    font-size: 14px;
}
.countries_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.country {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;


}

.country img {
    width: 100%;

}

.bottom {
    display: flex;
    justify-content: space-between;

}

.header2 {
    color: #333;
    text-align: center;
    font-family: Roboto, Arial, sans-serif;
    line-height: 80px;

}

.header22 {
    font-weight: 300;
    font-size: 500;

}

.btn--small {
    font-size: .800rem;
    width: 90px;
    height: 10px;
    padding: 20px;
    display: inline;
    font-weight: 300;
}

.btn {
    display: inline;
    vertical-align: middle;
    position: relative;
    outline: 0;
    border: 0;
    border-radius: 4px;
    background: #3d83df;
    font-family: Roboto, Arial, sans-serif;
    line-height: 1em;
    color: #fff;
    font-weight: 300;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    transition: all .2s ease 0s;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
    font-size: 12px;
    color: #ababab;
    text-align: center;
}